<div class="text-center animate__animated animate__fadeInDown">
  <h1>Agenda</h1>
</div>
<hr />

<div class="row animate__animated animate__fadeInUp">
  <div class="col d-flex justify-content-between flex-wrap align-items-center">
    <button type="button" class="btn btn-custom" routerLink="/contacto/agregar">
      <i class="fas fa-plus"></i> Agregar
    </button>

    <!-- <app-buscador
      (onEnter)="buscar($event)"
      placeholder="Buscar contacto..."
      class="w-50"
    ></app-buscador> -->
  </div>
</div>

<app-table></app-table>

<!-- <app-modal></app-modal> -->
